html {
  background-color: #f7f1dd;
  color: #302f2c;
}

#heading {
  text-align: center;
}

#myChart {
  max-width: 20em;
}

#charts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto ;
  text-align: center;
}

.pieDiv {
  padding:3em 0em 3em 0em;
}
