<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="heading">
      <h1>Colour Reel</h1>
      <h3>A script isn't the only way to tell a story.</h3><br>
      <p>Explore 20 years of best picture winners and the colours their posters use below.</p>
    </div>

    <div id="charts"></div>

    <canvas id="myChart" width="100" height="100"></canvas>

    <script src="{{ url_for('static', filename='js.js') }}"></script>

  </body>
</html>
